.DS_STORE
*.log

application.iml
/.idea/
/coverage/
/dist/
/node_modules/
/provider/vmware/.vagrant/
/*.zip
/Home/
.eslintrc_BACKUP_10500
.eslintrc_BASE_10500
.eslintrc_LOCAL_10500
.eslintrc_REMOTE_10500
/provider/
/provision/
